<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="womanProducts">
        <span>Woman</span>
      </a>
      <a mat-list-item routerLink="manProducts">
        <span>Man</span>
      </a>
      <a mat-list-item routerLink="kidsProducts">
        <span>Kids</span>
      </a>
      <a mat-list-item routerLink="auth">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>
      <a mat-list-item routerLink="login">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar
    fxFlex
    fxLayout="row "
    color="primary"
    fxLayoutAlign="space-between center"
  >
    <div>
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button class="home" routerLink="/home">
        <span>HOME</span>
      </a>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon [matBadge]="cartQuantity" matBadgeColor="accent"
          >shopping_cart</mat-icon
        >
      </button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container>
