<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center "
  fxLayoutGap="30px"
>
  <h2>VERIFICAŢI DISPONIBILITATEA ÎN MAGAZIN</h2>

  <p class="content">
    Selectează una sau mai multe mărimi pentru a verifica disponibilitatea
    acestora în magazine
  </p>

  <p class="content">Ce mărime cauţi?</p>

  <mat-button-toggle-group
    aria-label="Buttons"
    name="sizes"
    multiple
    class="size-buttons"
    fxLayout="row wrap"
    fxLayoutGap="10px"
  >
    <mat-button-toggle
      (click)="setSelectedButton1()"
      class="size-button"
      [ngClass]="{ 'button-selected': button1 === true }"
      value="7"
      >7 ANI (122 CM)</mat-button-toggle
    >
    <mat-button-toggle
      (click)="setSelectedButton2()"
      [ngClass]="{ 'button-selected': button2 === true }"
      class="size-button"
      value="8"
      >8 ANI (128 CM)</mat-button-toggle
    >
    <mat-button-toggle
      (click)="setSelectedButton3()"
      [ngClass]="{ 'button-selected': button3 === true }"
      class="size-button"
      value="9"
      >9 ANI (134 CM)</mat-button-toggle
    >
    <mat-button-toggle
      (click)="setSelectedButton4()"
      [ngClass]="{ 'button-selected': button4 === true }"
      class="size-button"
      value="10"
      >10 ANI (140 CM)</mat-button-toggle
    >
    <mat-button-toggle
      (click)="setSelectedButton5()"
      [ngClass]="{ 'button-selected': button5 === true }"
      class="size-button"
      value="11/12"
      >11-12 ANI (152CM)</mat-button-toggle
    >
    <mat-button-toggle
      (click)="setSelectedButton6()"
      [ngClass]="{ 'button-selected': button6 === true }"
      class="size-button"
      value="13/14"
      >13-14 ANI (164CM)</mat-button-toggle
    >
  </mat-button-toggle-group>

  <button
    [disabled]="button1 || button2 || button3 || button4 || button5 || button6"
    class="add-button"
    mat-raised-button
  >
    VERIFICAŢI DISPONIBILITATEA
  </button>
</div>
