<div
  class="container"
  fxLayout="column"
  fxLayoutAlign="center "
  fxLayoutGap="20px"
>
  <div fxFlex="20%">
    <h3>LIVRARE, SCHIMBURI ŞI RETURNĂRI</h3>
  </div>
  <div fxFlex="80">
    <h5>LIVRARE</h5>
    <h5 class="content">RIDICARE DE LA UN MAGAZIN ZARA - GRATUITĂ</h5>
    <p class="content">
      La magazinul ales de dumneavoastră, în 4-6 zile lucrătoare.
    </p>
    <h5 class="content">LIVRARE LA DOMICILIU:</h5>
    <!-- <mat-list fxLayout="column" role="list">
      LIVRARE LA DOMICILIU
      <mat-list-item role="listitem" class="list-content">
        <mat-icon matListIcon style="font-size: x-small"
          >fiber_manual_record</mat-icon
        >
        LIVRARE STANDARD - 19,00 lei / EXPEDIERE GRATUITĂ PENTRU COMENZI
        ÎNCEPÂND CU 230 lei (se aplică numai pentru articolele fără reducere)
        <p>
          Termenul de livrare estimat va oscila între 3-5 zile lucrătoare, în
          funcție de adresa de livrare. Rețineți că, în cazul în care comanda
          dvs. include un articol voluminos de la ZARA HOME, se vor percepe
          costurile de expediere corespunzătoare.
        </p>
      </mat-list-item>
    </mat-list> -->
    <li class="list-content">
      LIVRARE STANDARD - 19,00 lei / EXPEDIERE GRATUITĂ PENTRU COMENZI ÎNCEPÂND
      CU 230 lei (se aplică numai pentru articolele fără reducere)
      <p>
        Termenul de livrare estimat va oscila între 3-5 zile lucrătoare, în
        funcție de adresa de livrare. Rețineți că, în cazul în care comanda dvs.
        include un articol voluminos de la ZARA HOME, se vor percepe costurile
        de expediere corespunzătoare.
      </p>
    </li>
    <li class="list-content">
      LIVRARE EXPRES - 49,00 lei
      <p>Termenul de livrare estimat va oscila între 2-3 zile lucrătoare.</p>
      <p>
        Nu este disponibilă în cazul comenzilor care conțin articole de la ZARA
        HOME.
      </p>
    </li>
    <p class="content">
      PUNCT DE LIVRARE - 19,00 lei / EXPEDIERE GRATUITĂ PENTRU COMENZI ÎNCEPÂND
      CU 230 lei (se aplică numai pentru articolele fără reducere)
    </p>
    <p class="content">
      La punctul de livrare pe care îl alegeți, în 3-5 zile lucrătoare.
    </p>
    <h4 class="content">
      Pentru comenzile pregătite în centre de distribuție diferite, vă oferim
      două opțiuni
    </h4>
    <li class="content">
      Primirea într-o singură livrare (expediere gratuită începând cu 230 lei
      pentru articolele fără reducere)
    </li>
    <li class="content">
      Primirea mai rapidă în mai multe livrări (cu un cost adițional de 10 lei)
    </li>
    <p class="content">
      În momentul procesării cumpărăturii dumneavoastră, vom afișa metodele de
      expediere disponibile, costul și data predării comenzii dumneavoastră.
    </p>
    <h5>SCHIMBURI ŞI RETURNĂRI</h5>
    <p class="content">
      Aveți la dispoziție 30 de zile de la data expedierii pentru a returna
      cumpărătura de pe Zara.com.
    </p>
    <li class="list-content">
      ÎNTR-UN MAGAZIN ZARA
      <p>
        Puteți returna articolele în mod gratuit la orice magazin Zara din
        țara/regiunea în care s-a efectuat cumpărătura.
      </p>
      <p>Articolele de la HOME se pot returna și în magazinele ZARA HOME.</p>
    </li>
    <li class="list-content">
      DE LA DOMICILIU
      <p>
        Poți solicita ridicarea de la domiciliu accesând secțiunea Comenzi și
        returnări. Returnările au un cost de 19 lei, care se va scădea din suma
        rambursată.
      </p>
    </li>
    <li class="list-content">
      LA UN PUNCT DE RIDICARE
      <p>
        Puteți returna comanda în mod gratuit la un drop point din aceeași
        țară/regiune în care ați efectuat cumpărătura. Poți solicita eticheta
        pentru returnare accesând secțiunea Comenzi și returnări.
      </p>
    </li>
    <p class="content">
      Unele dintre articolele noastre pot avea condiţii speciale de returnare.
      Mai multe informaţii în secţiunea
    </p>
    <p class="content">
      Puteți găsi mai multe informații despre Politica noastră privind
      schimburile și returnările sau despre dreptul de renunțare în Condițiile
      de cumpărare.
    </p>
  </div>
</div>
