<div>
  <div
    class="main"
    fxFlex="100%"
    fxFlex.sm="100%"
    fxFlex.xs="100%"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center center"
  >
    <mat-card class="product-card" *ngFor="let product of products">
      <div fxFlex="100%" fxLayout="column">
        <div fxFlex="80%">
          <img
            [src]="product.imageUrl"
            alt="Photo of a product"
            (click)="show()"
            [routerLink]="['/product/', product.id]"
          />
        </div>
        <div fxFlex="20%" fxLayout="column">
          <mat-card-actions fxLayoutAlign="center " fxFlex="10%">
            <button
              class="icon-button"
              mat-mini-fab
              [mat-menu-trigger-for]="menu"
            >
              <mat-icon>add</mat-icon>
              <mat-menu yPosition="above" xPosition="after" #menu="matMenu">
                <button mat-menu-item>7 ANI (122 CM)</button>
                <button mat-menu-item>8 ANI (128 CM)</button>
                <button mat-menu-item>9 ANI (134 CM)</button>
                <button mat-menu-item>10 ANI (140 CM)</button>
                <button mat-menu-item style="font-size: x-small">
                  Acest produs are o marime mai mare decat cea obisnuita.
                </button>
                <button mat-menu-item>GHID DE MARIMI</button>
              </mat-menu>
            </button>
          </mat-card-actions>
          <mat-card-content
            class="content"
            fxFlex="90%"
            fxLayout="row"
            fxFlexAlign=" space-between  "
          >
            <mat-card-title fxFlex="80%" class="title">{{
              product.title | uppercase | shorten
            }}</mat-card-title>
            <mat-card-subtitle fxFlex="20%" class="price"
              >{{ product.price }} LEI</mat-card-subtitle
            >
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>
