.product-card {
  max-width: 400px;
}

mat-card {
  margin: 0 1em 2em 1em;
  border: 1px solid lightgray !important;
}

img {
  border-bottom: 1px solid lightgray;
  cursor: pointer;
}

.grid-layout {
  width: 70vw;
}
