<div>
  <div
    class="main"
    fxFlex="100%"
    fxFlex.sm="100%"
    fxFlex.xs="100%"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center center"
  >
    <mat-card class="product-card" *ngFor="let product of manProducts">
      <div fxFlex="100%" fxLayout="column">
        <div fxFlex="80%">
          <img
            [src]="product.imageUrl"
            alt="Photo of a product"
            [routerLink]="['/manProduct', product.id]"
          />
        </div>
        <div fxFlex="20%" fxLayout="column">
          <mat-card-actions fxLayoutAlign="center " fxFlex="10%">
            <button
              class="icon-button"
              mat-mini-fab
              [mat-menu-trigger-for]="menu"
            >
              <mat-icon>add</mat-icon>
              <mat-menu yPosition="above" xPosition="after" #menu="matMenu">
                <button mat-menu-item (click)="incrementCartQuantity()">
                  S
                </button>
                <button mat-menu-item (click)="incrementCartQuantity()">
                  M
                </button>
                <button mat-menu-item (click)="incrementCartQuantity()">
                  L
                </button>
                <button mat-menu-item (click)="incrementCartQuantity()">
                  XL
                </button>

                <button
                  mat-menu-item
                  fxLayout="row "
                  fxLayoutGap="13px"
                  fxLayoutAlign="space-between"
                >
                  <p>AFLATI-VA MARIMEA</p>

                  <p>GHID DE MARIMI</p>
                </button>
              </mat-menu>
            </button>
          </mat-card-actions>
          <mat-card-content
            class="content"
            fxFlex="90%"
            fxLayout="row"
            fxFlexAlign=" space-between  "
          >
            <mat-card-title fxFlex="80%" class="title">{{
              product.title | uppercase | shorten
            }}</mat-card-title>
            <mat-card-subtitle fxFlex="20%" class="price"
              >{{ product.price }} LEI</mat-card-subtitle
            >
          </mat-card-content>
        </div>
      </div>
    </mat-card>
  </div>
</div>
<div (click)="scrollToTop()" class="scroll-to-top" *ngIf="pageYoffset > 0">
  scrollToTop
</div>
