<mat-grid-list
  [cols]="cols"
  [rowHeight]="rowHeight"
  [ngClass]="{ 'hanset-portrait': handsetPortrait }"
>
  <mat-grid-tile
    *ngFor="let product of products$ | async"
    [class.selected]="product.id === selectedId"
  >
    <a [routerLink]="['/man', product.id]">VIEW</a>
    <mat-card class="clothes-card mat-elevation-z7">
      <mat-card-content class="card-content">
        <img mat-card-image [src]="product.imageUrl" />
      </mat-card-content>
      <mat-card-footer class="clothes-footer">
        <p>{{ product.price }} RON</p>
        <mat-card-actions class="size-menu">
          <button mat-raised-button [mat-menu-trigger-for]="menu">Size</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>XS</button>
            <button mat-menu-item>S</button>
            <button mat-menu-item>M</button>
            <button mat-menu-item>L</button>
            <button mat-menu-item>XL</button>
          </mat-menu>
        </mat-card-actions>

        <button color="primary" mat-flat-button>Add to card</button>
        <mat-icon class="icon-favorite" color="warn" mat-icon-button
          >favorite
        </mat-icon>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<router-outlet></router-outlet>
<!--  (click)="getItem(item)" for icon!!! -->
