.clothes-card {
  max-width: 450px;
  height: 370px;
}

.card-content {
  margin-bottom: 0;
}

.mat-card-image {
  width: 230px;
  height: 300px;
}

.clothes-footer {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-columns: 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr;  */
  align-items: center;
}

.clothes-footer,
p,
.size-menu {
  margin-left: 5px;
  padding-bottom: 0;
}

.icon-favorite {
  cursor: pointer;
  margin-left: 25px;
}

.hanset-portrait .clothes-card {
  width: 100%;
  margin: 0;
  padding: 16px 0;
}

.hanset-portrait .clothes-thumbnail {
  width: 100%;
}

.hanset-portrait .clothes-footer {
  width: 50%;
  margin: 0;
}
