.origine {
  /* height: 50px;
  width: 50px; */
  background-color: salmon;
}

.product-card {
}

img {
  height: 600px;
}

.description {
  /* margin: 0; */
}

.footer-item {
  font-size: 14px;
  font-weight: lighter;
  cursor: pointer;
}

.divider {
  border-top-color: black;
}
