<div class="container">
  <mat-card class="card-container" *ngIf="kidsProducts$ | async as product">
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center ">
      <mat-card-content
        fxFlex="25%"
        fxFlex.sm="60%"
        fxFlex.xs="100%"
        fxLayout="column"
        fxLayoutAlign="end"
      >
        <div fxLayout="column" class="origine">
          <div [ngClass]="{ limitTextHeight: isReadMore }">
            <mat-card-title class="origine-title"
              >MATERIALE, ORIGINE ȘI ÎNGRIJIRE</mat-card-title
            >
            <mat-card-title class="origine-second-title"
              >ORIGINE</mat-card-title
            >
            <mat-card-subtitle class="origine-subtitle">
              <p>
                Lucrăm împreună cu furnizorii, lucrătorii, sindicatele noastre
                și organisme internaționale pentru a dezvolta un lanț de
                aprovizionare în care se respectă și se promovează drepturile
                omului, contribuind la Obiectivele de dezvoltare durabilă ale
                Națiunilor Unite.
              </p>
              <p>
                Datorită colaborării cu furnizorii noștri, lucrăm pentru a
                cunoaște instalațiile și procesele care sunt folosite la
                fabricarea articolelor noastre, cu obiectivul de a cunoaște
                astfel trasabilitatea produselor noastre.
              </p>

              <p>Fabricat în China</p>
            </mat-card-subtitle>
            <mat-card-title class="origine-second-title"
              >INGRIJIRE</mat-card-title
            >
            <mat-card-subtitle class="origine-subtitle">
              <p>
                Având grijă de articolele de îmbrăcăminte, aveți grijă și de
                mediul înconjurător
              </p>
              <p>
                Pentru a menține jachetele și paltoanele curate, trebuie doar să
                le aerisiți și să le curățați cu o cârpă sau cu o perie pentru
                haine. Dacă este necesară curățarea chimică, încercați să găsiți
                curățătorii care utilizează tehnologii respectuoase cu mediul
                înconjurător.
              </p>
              <mat-list fxLayout="column">
                <mat-list-item class="care-list" fxFlex="20%">
                  <img
                    class="img"
                    fxFlex="10%"
                    src="https://static.zara.net/photos///contents/cm/product-cares-9-icon_0.svg?ts=1604343299129"
                  />
                  <p>Nu se spală</p>
                </mat-list-item>
                <mat-list-item class="care-list" fxFlex="20%">
                  <img
                    fxFlex="10%"
                    class="img"
                    src="https://static.zara.net/photos///contents/cm/product-cares-14-icon_0.svg?ts=1604343289322"
                  />
                  <p>Nu utilizați înălbitor</p>
                </mat-list-item>
                <mat-list-item class="care-list" fxFlex="20%">
                  <img
                    fxFlex="10%"
                    class="img"
                    src="https://static.zara.net/photos///contents/cm/product-cares-19-icon_0.svg?ts=1604343282915"
                  />
                  <p>Nu călcați</p>
                </mat-list-item>
                <mat-list-item class="care-list" fxFlex="20%">
                  <img
                    fxFlex="10%"
                    class="img"
                    src="https://static.zara.net/photos///contents/cm/product-cares-28-icon_0.svg?ts=1604343290530"
                  />
                  <p>Nu curățați chimic</p>
                </mat-list-item>
                <mat-list-item class="care-list" fxFlex="20%">
                  <img
                    fxFlex="10%"
                    class="img"
                    src="https://static.zara.net/photos///contents/cm/product-cares-35-icon_0.svg?ts=1604343281266"
                  />
                  <p>Nu uscați în mașină</p>
                </mat-list-item>
              </mat-list>
            </mat-card-subtitle>

            <mat-card-title class="origine-second-title"
              >MATERIALE</mat-card-title
            >
            <mat-card-subtitle class="origine-subtitle">
              <p>
                Lucrăm cu programe de urmărire în scopul de a garanta
                respectarea standardelor noastre sociale, de mediu și de
                securitate și sănătate pentru articolele noastre.
              </p>
              <p>
                Pentru a evalua respectarea acestora, am dezvoltat un program de
                audituri și planuri de îmbunătățire continuă.
              </p>
            </mat-card-subtitle>
          </div>
          <button
            mat-button
            class="expand-button"
            type="button"
            (click)="showText()"
          >
            {{ isReadMore ? "Vedeţi mai multe" : "Vedeți mai puține" }}
          </button>
        </div>
      </mat-card-content>
      <div
        fxFlex="50%"
        fxFlex.sm="60%"
        fxFlex.xs="100%"
        fxLayoutAlign="center center"
      >
        <img [src]="product.imageUrl" alt="Photo of a product" />
      </div>
      <mat-card-content
        class="description"
        fxFlex="20%"
        fxFlex.sm="100%"
        fxFlex.xs="100%"
        fxLayout="column"
        fxLayoutAlign="center "
      >
        <div fxLayout="column" fxFlex="100%" fxLayoutGap="30px">
          <div fxFlex="80%" fxLayout="column" fxLayoutGap="10px">
            <mat-card-title fxFlex="10%">{{
              product.title | uppercase
            }}</mat-card-title>
            <mat-card-subtitle fxFlex="20%">{{
              product.description
            }}</mat-card-subtitle>
            <p fxFlex="5%">{{ product.color }}</p>
            <p fxFlex="5%">{{ product.price }} LEI</p>
            <mat-divider class="divider"></mat-divider>

            <mat-selection-list
              class="size-menu"
              fxFlex="40%"
              fxLayout="column"
              fxLayoutAlign="center "
              [multiple]="false"
            >
              <mat-list-option> 7 ANI (122 CM)</mat-list-option>
              <mat-list-option> 8 ANI (128 CM)</mat-list-option>
              <mat-list-option> 9 ANI (134 CM)</mat-list-option>
              <mat-list-option> 10 ANI (140 CM)</mat-list-option>
            </mat-selection-list>

            <p fxFlex="5%" class="description-info">
              Acest produs are o marime mai mare decat cea obisnuita.
            </p>
            <mat-divider class="divider"></mat-divider>
            <p fxFlex="5%">GHID DE MARIMI</p>
            <button
              (click)="incrementCartQuantity()"
              class="description-add-button"
              fxFlex="10%"
              mat-raised-button
            >
              ADAUGARE IN COS
            </button>
          </div>
          <mat-card-footer fxFlex="20%">
            <mat-list>
              <mat-list-item
                class="footer-item"
                (click)="openVerificationDialog()"
              >
                VERIFICAŢI DISPONIBILITATEA ÎN MAGAZIN
              </mat-list-item>
              <mat-list-item class="footer-item" (click)="openDeliveryDialog()">
                LIVRARE, SCHIMBURI ŞI RETURNĂRI
              </mat-list-item>
            </mat-list>
          </mat-card-footer>
        </div>
      </mat-card-content>
    </div>
  </mat-card>

  <app-chat class="chat"></app-chat>
</div>
